.gutena-lightbox-block {
    .block-editor-block-variation-picker {
        align-items: center;

        .block-editor-block-variation-picker__variation {
            &:before {
                padding: 0;
                margin: 0;
            }

            &.has-icon.is-secondary > svg {
                width: 250px !important;
                height: 150px !important;
            }
        }

        .block-editor-block-variation-picker__variations svg {
            width: 100%;
            height: 100%;
            max-width: 261px;
            max-height: 175px;
        }

        &.is-large {
            ul {
                li {
                    width: 50%;
                    margin: 0;

                    &:first-child {
                        display: none;
                    }
                }
            }

            .components-placeholder__instructions, .block-editor-block-variation-picker__skip {
                text-align: center;
            }
        }

        &.is-medium {
            ul {
                li {
                    width: 100%;
                    margin: 0;
                    margin-bottom: 20px;

                    &:first-child {
                        display: none;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .components-placeholder__instructions, .block-editor-block-variation-picker__skip {
                text-align: center;
            }
        }
    }
}