.wp-block-gutena-lightbox {
    .wp-block-gutena-play-button {
        display: flex;
        justify-content: center;

        &.alignleft {
            float: none;
            justify-content: flex-start;
        }

        &.alignright {
            float: none;
            justify-content: flex-end;
        }

        .play-button {
            cursor: pointer;
            vertical-align: middle;
            position: relative;
            height: var( --gutena--lightbox-button-width, 64px );
            width: var( --gutena--lightbox-button-width, 64px );
            background: var( --gutena--lightbox-button-color, #ffffff );
            border: 2px solid var( --gutena--lightbox-button-color, #ffffff );
            border-radius: var( --gutena--lightbox-radius, 0px );

            &:hover {
                background: var( --gutena--lightbox-button-hover-color, var( --gutena--lightbox-button-color, #ffffff ) );
                border-color: var( --gutena--lightbox-button-hover-color, var( --gutena--lightbox-button-color, #ffffff ) );
            }

            &.bordered {
                background-color: transparent !important;

                &:hover {
                    background-color: transparent !important;
                }
            }

            &.circle {
                position: relative;
                border-radius: 50%;

                &[data-ripple="true"] {
                    &::before,
                    &::after {
                        position: absolute;
                        top: -1px;
                        left: -1px;
                        display: block;
                        content: "";
                        width: 100%;
                        height: 100%;
                        border: 1px solid rgba( 255, 255, 255, 0.5 );
                        border-radius: 50%;
                        transform: scale( .35 );
                        opacity: 0;
                        animation: gutena-ripple 2.6s cubic-bezier( .25, .9, .2, 1 ) 0.4s infinite;
                    }

                    &::before {
                        animation-delay: 0.5s;
                    }

                    &::after {
                        animation-delay: 0s;
                    }
                }

                .play-icon {
                    border-radius: 50%;
                }
            }

            .play-icon {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                //background: var( --gutena--lightbox-button-color, #ffffff );
                border-radius: var( --gutena--lightbox-radius, 0px );
                //box-shadow: 0 3px 24px rgb( 0 0 0 / 30% );
                transition: transform 350ms ease;
                margin: 0;
                padding: 0;
                padding-left: 1px;
                padding-top: 1px;
                z-index: 99;

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate( -35%, -50% );
                    width: 0;
                    height: 0;
                    border-top: var( --gutena--lightbox-icon-size, 10px ) solid transparent;
                    border-left: calc( var( --gutena--lightbox-icon-size, 10px ) * 1.5 ) solid var( --gutena--lightbox-icon-color, #0274FA );
                    border-bottom: var( --gutena--lightbox-icon-size, 10px ) solid transparent;
                }

                &:hover::after { 
                    border-left-color: var( --gutena--lightbox-icon-hover-color, var( --gutena--lightbox-icon-color, #0274FA ) ) !important;
                }
            }
        }
    }
}

@keyframes gutena-ripple {
    0% {
        transform: scale( 1 ); 
        opacity: 1
    }

    100% { 
        transform: scale( 1.7 ); 
        opacity: 0
    }
}

.tingle-modal.gutena-lightbox-modal {
    z-index: 99999;

    .tingle-modal-box__content {
        padding: 1rem;

        .gutena-lightbox-close {
            @media (max-width: 540px) {
                display: none;
            }
    
            position: absolute;
            right: -30px;
            top: -30px;
            cursor: pointer;
    
            svg {
                width: 20px;
                height: 20px;
                color: #fff;
    
                * {
                    fill: currentColor;
                }
            }
        }

        .embed-container {
            --video--width: 1000;
            --video--height: 540;
            position: relative;
            padding-bottom: calc(var(--video--height) / var(--video--width) * 100%); /* 41.66666667% */
            overflow: hidden;
            max-width: 100%;
            background: black;
        
            @media (max-width: 540px) {
                margin-top: 62px;
            }
        }
          
        .embed-container iframe,
        .embed-container object,
        .embed-container embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .tingle-modal__closeIcon svg {
        height: 20px;
        width: 20px;
    }

    @media (min-width: 541px) {
        .tingle-modal__close {
            display: none;
        }
    }

    @media (max-width: 540px) {
        .tingle-modal__close {
            background-color: #000000;

            .tingle-modal__closeIcon {
                margin-right: 0.3rem;

                svg {
                    height: 13px;
                    width: 13px;
                }
            }

            .tingle-modal__closeLabel {
                font-size: 1.2rem;
            }
        }
    }
}